n8n/api_monitor_n8n_automation.json
{
  "name": "Task",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "monitor",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        0
      ],
      "id": "65cf1491-8470-4726-af54-4f8856f1d97a",
      "name": "Webhook",
      "webhookId": "37a28e8c-8eaa-4748-be38-ec63c514a111"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "775f0d58-4250-47af-a727-230e0eb6a094",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -224,
        0
      ],
      "id": "124c4904-793b-4d3a-8d31-de04e089efff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "data = _items[0][\"json\"].get(\"body\") # get data\n\nTHRESHOLDS = {\n  \"maxResponseTimeMs\": 3000,\n  \"errorStatusMin\": 500,\n  \"emptyRecordMin\": 1\n}\n\nresult = []\n\nfor api in data:\n  issues = []\n  \n  if api.get(\"response_time_ms\", 0) > THRESHOLDS[\"maxResponseTimeMs\"]:\n    issues.append({\n      \"type\": 'high_latency', \n      \"severity\": 'high'\n    })\n    \n  if api.get(\"status_code\", 0) >= THRESHOLDS[\"errorStatusMin\"]:\n    issues.append({\n      \"type\": 'error_status', \n      \"severity\": 'critical'\n    })\n    \n  if api.get(\"records_returned\", 0) < THRESHOLDS[\"emptyRecordMin\"]:\n    issues.append({\n      \"type\": 'no_data', \n      \"severity\": 'medium'\n    })\n\n  if issues:\n    result.append({\n        \"json\":{\n          **api,\n          \"issues\":issues\n        }\n      })\n  else:\n    result.append({\n      \"json\":{\n      }\n    })\n  \nreturn result"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        0
      ],
      "id": "7278ea3f-6e15-40f2-a6d3-4d07512b017f",
      "name": "Code in Python",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "40b03464-37c7-4b8f-bc4f-85ade00d6c48",
              "leftValue": "={{ $json.issues.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        256,
        0
      ],
      "id": "513f61c5-d477-4156-bc49-f6f3d9a184b5",
      "name": "If",
      "executeOnce": false,
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an API monitoring system. Generate a concise, human-readable alert.\n\nAPI Name:  {{ $json.api_name }}\nIssues: {{ $json.issues.map(issue => issue.type).join(\",\")}}\nSeverity Level For Each Issue: {{ $json.issues.map(issue => issue.severity).join(\",\")}}\n\nWrite ONE sentence describing the problem and likely cause. Be specific, not generic."
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "textFormat": {
            "textOptions": {
              "type": "json_schema"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        592,
        -144
      ],
      "id": "64102499-2a11-4a14-8fe8-8b8d416dc340",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "k3TNUJYqfCuiQxGc",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "86eacd5f-a635-4084-b30e-533546461bb3",
              "name": "api_name",
              "value": "={{ $('Code in Python').item.json.api_name }}",
              "type": "string"
            },
            {
              "id": "eaa08a7c-c892-4f64-8161-b0adea831e2f",
              "name": "response_time_ms",
              "value": "={{ $('Code in Python').item.json.response_time_ms }}",
              "type": "number"
            },
            {
              "id": "3d331605-b979-4c4f-99d9-cb2405e6e9ce",
              "name": "status_code",
              "value": "={{ $('Code in Python').item.json.status_code }}",
              "type": "number"
            },
            {
              "id": "ada7ebbf-2bd0-4b50-af29-0ed557d322eb",
              "name": "records_returned",
              "value": "={{ $('Code in Python').item.json.records_returned }}",
              "type": "number"
            },
            {
              "id": "d7e74e13-f44f-4e1c-8350-3dfa187123d8",
              "name": "issues",
              "value": "={{ $('Code in Python').item.json.issues }}",
              "type": "array"
            },
            {
              "id": "f7685c7a-887f-424f-b51d-3e3003a4e95b",
              "name": "alert_messages",
              "value": "={{ $json.output[0].content[0].text.message }}",
              "type": "string"
            },
            {
              "id": "1eaf8f96-c4c6-4efa-9843-cbcf42df1c7b",
              "name": "timeStamp",
              "value": "={{$now}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        -144
      ],
      "id": "821f23fa-e423-41e3-9dca-09c9ed3dd83a",
      "name": "Get Required Field"
    },
    {
      "parameters": {
        "operation": "insert",
        "collection": "alert",
        "fields": "=api_name, response_time_ms, status_code, records_returned, issues, alert_messages, timeStamp",
        "options": {}
      },
      "type": "n8n-nodes-base.mongoDb",
      "typeVersion": 1.2,
      "position": [
        1232,
        -144
      ],
      "id": "4516ed77-c38a-4791-aef8-7432f3f30ab9",
      "name": "Insert documents",
      "credentials": {
        "mongoDb": {
          "id": "UePp90gbvJQ5zyfL",
          "name": "MongoDB account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "officemahadipm@gmail.com",
        "subject": "=API Alert:  {{ $json.api_name }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <title>API Alert Notification</title>\n  <style>\n    body {\n      font-family: Arial, sans-serif;\n      background-color: #f4f6f8;\n      margin: 0;\n      padding: 0;\n    }\n    .email-container {\n      max-width: 600px;\n      margin: 40px auto;\n      background-color: #ffffff;\n      border-radius: 8px;\n      overflow: hidden;\n      box-shadow: 0 2px 8px rgba(0,0,0,0.1);\n    }\n    .header {\n      background-color: #007bff;\n      color: #ffffff;\n      padding: 20px;\n      text-align: center;\n      font-size: 20px;\n      font-weight: bold;\n    }\n    .body {\n      padding: 20px;\n      color: #333333;\n    }\n    .body p {\n      margin: 8px 0;\n    }\n    .label {\n      font-weight: bold;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-top: 15px;\n    }\n    th, td {\n      padding: 10px;\n      text-align: left;\n      border-bottom: 1px solid #dddddd;\n    }\n    th {\n      background-color: #f1f1f1;\n      font-weight: bold;\n    }\n    .footer {\n      text-align: center;\n      font-size: 12px;\n      color: #888888;\n      padding: 15px;\n      background-color: #f9f9f9;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"email-container\">\n    <div class=\"header\">\n      API Alert Notification\n    </div>\n    <div class=\"body\">\n      <p><span class=\"label\">API Name:</span> {{ $json.api_name }}</p>\n      <p><span class=\"label\">Alert Message:</span> {{ $json.alert_messages }}</p>\n\n      <table>\n        <tr>\n          <th>Issue</th>\n          <th>Severity</th>\n        </tr>\n        {{ $json.issues.map(a => `\n        <tr>\n          <td>${a.type}</td>\n          <td>${a.severity}</td>\n        </tr>\n        `).join('') }}\n      </table>\n    </div>\n    <div class=\"footer\">\n      This is an automated notification. Please do not reply.\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1472,
        -144
      ],
      "id": "f7ae1e82-14e4-4f9f-814c-4fdc92ddf223",
      "name": "Send a message",
      "webhookId": "e8194bf1-fd2f-43ec-9747-726ed9399ffa",
      "credentials": {
        "gmailOAuth2": {
          "id": "P7b17wQubCg8mHum",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"API data received successfully. No alerts generated.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        656,
        352
      ],
      "id": "11513a16-cbd6-4441-850a-b81618ae5518",
      "name": "No Issue Respond"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"status\": \"success\",\n  \"message\": \"API data received and processed successfully\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1728,
        128
      ],
      "id": "0a2ac698-abef-477c-96d8-a1ebed03ed1f",
      "name": "Issue Respond"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Code in Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Issue Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Get Required Field",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Required Field": {
      "main": [
        [
          {
            "node": "Insert documents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert documents": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Issue Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d0113c8c-169c-4605-ae5e-651975cf0c02",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7917c16476697f8830a10a46783ba58b0d3a61f114238adcaeabe872b20008dc"
  },
  "id": "mSy3ukeNlBD0iOtD",
  "tags": []
}